services:
  streamer:
    build: ./streamer
    container_name: video-streamer
    privileged: true
    devices:
      - "/dev/video0:/dev/video0"# optional on Linux; remove on mac/win
      - "/dev/video1:/dev/video1"
      - "/dev/snd:/dev/snd"
    environment:
      - INPUT=${INPUT:-/dev/video}        # device, file, or rtsp URL
      - USE_NVENC=${USE_NVENC:-false}       # true/false
      - HLS_DIR=/var/www/hls
      - RECORD_DIR=/recordings
      - UDP_PORT=10000
      - VIDEO_SCALE=${VIDEO_SCALE:-1280:720}
    volumes:
      - hls-data:/var/www/hls
      - recordings:/recordings
    ports:
      - "8081:8081"   # WebRTC signaling (aiortc) /offer endpoint
    deploy:
      restart_policy:
        condition: any

    # Use this when you have NVIDIA container toolkit installed:
    #runtime: nvidia
    #environment:
    #  - NVIDIA_VISIBLE_DEVICES=all

  web:
    build: ./nginx
    container_name: hls-web
    depends_on:
      - streamer
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - hls-data:/var/www/hls

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    environment:
      # increases the log level from info to debug
      - GF_LOG_LEVEL=error
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - streamer

  grafana:
    image: grafana/grafana
    container_name: grafana
    environment:
      # increases the log level from info to debug
      - GF_LOG_LEVEL=error
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  hls-data:
  recordings:
  grafana-data:
